<div class="weather-location-details">
    <ng-container *ngIf="location && locationDataList.length > 0; else spinner">
        <h3>Forecast of the next days in {{location.name}} ({{location.zipcode}}, {{location.countryCode}})</h3>

        <div *ngFor="let item of locationDataList; let last = last;" [ngClass]="{'separator': !last}"
            class="forecast-container">
            <div class="forecast-data">
                <strong><i>{{item.date | date:'fullDate'}}</i></strong>

                <span>Current conditions: {{item.data.main}}</span>
                <span><i>Temperatures today:</i></span>
                <div class="forecast-data-temperatures">
                    <span>Current {{item.data.currentTemp}} - Max {{item.data.maxTemp}} - Min
                        {{item.data.minTemp}}</span>
                </div>
            </div>
            <div class="weather-icon">
                <img src="assets/weather-icons/{{item.data?.icon}}.png" alt="">
            </div>
        </div>
    </ng-container>
    <ng-template #spinner>
        <spinner></spinner>
    </ng-template>
</div>

<button [routerLink]="['/weather-location-search']">
    < Back to the list of locations</button>