<div class="weather-location-details">
    <ng-container *ngIf="location; else spinner">
        <h3>{{location.name}} ({{location.zipcode}}, {{location.countryCode}})</h3>
    
        <div *ngIf="location.data" class="location-data">
            <span>Current conditions: {{location.data.main}}</span>
            <span><i>Temperatures today:</i></span>
            <div class="location-temperatures">
                <span>Current {{location.data.currentTemp}} - Max {{location.data.maxTemp}} - Min {{location.data.minTemp}}</span>
            </div>
        </div>
    </ng-container>
    <ng-template #spinner>
        <spinner></spinner>
    </ng-template>
</div>

<button [routerLink]="['/weather-location-search']">< Back to the list of locations</button>