:host {
    display: block;
    margin: 24px auto;
    width: 600px;

    .weather-location-details {
        display: flex;
        align-items: center;
        margin: 24px 0;
        padding: 16px 24px;
        background-color: #f8f8f8;
        outline: 1px solid #92a6ff;
        border-radius: 6px;
        min-height: 135px;

        
    }
}
