<ng-container *ngIf="location?.data; else spinner">
    <div class="location-container">
        <h3>{{location.name}} ({{location.zipcode}}, {{location.countryCode}})</h3>
    
        <div *ngIf="location.data" class="location-data">
            <span>Current conditions: {{location.data.main}}</span>
            <span><i>Temperatures today:</i></span>
            <div class="location-temperatures">
                <span>Current {{location.data.currentTemp}} - Max {{location.data.maxTemp}} - Min {{location.data.minTemp}}</span>
            </div>
        </div>
    
        <button [routerLink]="['/weather-location-detail', location.name]">Show 5-day forecast for {{location.name}}</button>
    </div>
    <div class="weather-icon">
        <img src="assets/weather-icons/{{location.data?.icon}}.png" alt="">
    </div>
</ng-container>

<div class="close" (click)="onRemove.emit(location)">
    ❌
</div>

<ng-template #spinner>
    <spinner></spinner>
</ng-template>