:host {
    display: block;
    margin: 24px auto;
    width: 600px;

    .stock-controls,
    .stock-items .stock-item {
        padding: 16px 24px;
        background-color: #f8f8f8;
        outline: 1px solid #92a6ff;
        border-radius: 6px;
    }

    .stock-controls {
        .stock-form {
            input {
                margin-right: 16px;
            }

            spinner {
                width: 12px;
                height: 12px;
                float: right;
            }
    
            margin-top: 8px;
        }
    
        .alert {
            margin-top: 8px;
            span {
                color: red;
            }
        }
    }

    .stock-items {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 24px;
    }
}
