<div class="stock-controls">
	<div>
		<span>Enter the simbol o a stock to track (i.e. AAPL, TSLA, GOOGL)</span>

		<form class="stock-form" [formGroup]="formGroupStock" (ngSubmit)="onSubmitStock()">
			<input formControlName="stockInput" type="text" />
			<button type="submit">Track Stock</button>
			<spinner *ngIf="loadingModal"></spinner>
		</form>

		<div *ngIf="stockInput?.touched || stockInput?.dirty" class="alert">
			<span *ngIf="stockInput?.errors?.['required']"> The value is required. </span>
			<span *ngIf="stockInput?.errors?.['minlength'] || stockInput?.errors?.['maxlength']">
				The value must be between 1 and 5 characters.
			</span>
		</div>
	</div>
</div>

<div class="stock-items">
	<stock-item *ngFor="let stock of stocks$ | async" [stock]="stock" (onRemove)="removeStock($event)"></stock-item>
</div>