.mat-dialog-content {
    gap: 8px;
    display: flex;
    flex-direction: column;

    .stock-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px;
        border-radius: 6px;
        transition: background-color 0.2s ease;

        .title {
            font-weight: bold;
        }

        .description {
            font-size: 12px;
        }

        &:hover {
            cursor: pointer;
            background-color: lightgray;
            outline: 1px solid #92a6ff;
        }
    }
}
