<ng-container *ngIf="stockData; else spinner">
    <div class="stock-container">
        <h3>{{stock.description}}</h3>
    
        <div class="stock-data">
            <div class="first-column">
                <div>
                    <span><i>Change today: </i></span>
                    <span>{{stockData.change}}%</span>
                </div>
                <div>
                    <span><i>Current price: </i></span>
                    <span>${{stockData.currentPrice}}</span>
                </div>
            </div>
            <div class="second-column">
                <div>
                    <span><i>Opening price: </i></span>
                    <span>${{stockData.openPriceDay}}</span>
                </div>
                <div>
                    <span><i>High price: </i></span>
                    <span>${{stockData.highPriceDay}}</span>
                </div>
            </div>
        </div>
    
        <button [routerLink]="['/stock-sentiment', stock.symbol]">Go to social sentiment details ></button>
    </div>

    <div class="current-trend-arrow">
        <ng-container *ngIf="stockData.change >= 0; else trendingDown">
            <span class="green">🢁</span>
        </ng-container>
        <ng-template #trendingDown>
            <span class="red">🢃</span>
        </ng-template>
    </div>

    <div class="close" (click)="onRemove.emit(stock)">
        ❌
    </div>
</ng-container>

<ng-template #spinner>
    <spinner></spinner>
</ng-template>